---
interface Props {
  id: string;
  label: string;
  name?: string;
  type?: string;
  placeholder?: string;
  required?: boolean;
}

const { id, label, name, type = "text", placeholder = "", required = false } = Astro.props;
---

<label class="flex flex-col gap-2" for={id}>
	<span class="opacity-80">{label}</span>
	<input
        class="border-neutral-600 bg-transparent pb-2 outline-none border-b-[1px] placeholder:uppercase placeholder:opacity-50 focus:text-opacity-100 focus:border-neutral-300"
		id={id}
		name={name}
		type={type}
		type="text"
		placeholder={placeholder}
		{...(required ? { required: true } : {})} 
	/>
</label>
